body
{
    overflow: hidden;
    min-width: 1024px;
}
.WelcomePage 
{
    position: absolute;
    margin-left: 250px;
    font-family: Roboto;
    margin-top: -5px;
}

.greeting
{
    margin-bottom: 28px;
}
.greeting h1
{
    font-size: 48px;
    margin-bottom: 20px;
    font-size: 400;
}

.greeting h1 .nom
{
    color: red;
}

.three_charts_block
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 25px;
}
.sessionStatsDuration,
.performanceRadar,
.userScoreChart {
  width: 258px;
  height: 258px;
}

@media screen and (max-width:1612px) {
    .WelcomePage{
        width: 83%;
        row-gap: 20px;
        margin-left: 140px;
    }

    .DailyChart-container{
        width: 65%;
    }

    .three_charts_block{
        width:69%;
    }

    .sessionStatsDuration, .performanceRadar, .userScoreChart {
        width: 200px;
        height: 200px;
    }

    .rightUserStats{
        left: 73%;
    }

    .rightUserStats .sideStats{
        height: 125px;
        margin-top: 20px;
        width: 220px;
    }
    
    .userScoreChart .userTitle
    {
        margin-top: 10px;
    }
    .userScoreChart .recharts-legend-wrapper {
        left:17%!important;
        height: 80px!important;
        width: 80px!important;;
    }

    .custom-legend-score
    .custom-legend-score-data{
        margin-top: 2px;
    }
    .custom-legend-score .custom-legend-score-objective {
        width: 60%;
    }
}